/* 
.container {
  display: flex;
  position: relative;
  top: 180px;
  margin-left: 400px;
  margin-right: 400px;
  justify-content: center;
  /* align-items: center; */
  /* height: 25vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
#forgotpassword {
  text-align: center;
}
#EmailLABEL{
 font-size:x-large;
} */


   
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 180px;
  margin: 0 auto;
  height: 40vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
}

#forgotpassword {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

#EmailLABEL {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  font-size: 16px;
}

#button {
  background-color: skyblue;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#button:hover {
  background-color: deepskyblue;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    height: auto;
  }

  input {
    width: 90%;
  }

  #forgotpassword {
    font-size: 24px;
  }

  #EmailLABEL {
    font-size: 20px;
  }

  #button {
    font-size: 16px;
    width: 100%;
  }
}


@media (max-width: 480px) {
  .container {
    width: 95%;
    height: auto;
  }

  input {
    width: 100%;
  }

  #forgotpassword {
    font-size: 20px;
  }

  #EmailLABEL {
    font-size: 18px;
  }

  #button {
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
  }
}
