
.container {
  display: flex;
  position: relative;
  top: 180px;
  margin-left: 400px;
  margin-right: 400px;
  justify-content: center;
  /* align-items: center; */
  height: 25vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
#forgotpassword {
  text-align: center;
}
#EmailLABEL{
 font-size:x-large;
}
